<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stb.xiheo2o.center.dao.mapper.CategoryConfigMapper">
  <resultMap id="BaseResultMap" type="com.stb.xiheo2o.center.dao.entity.CategoryConfig">
    <!--@mbg.generated-->
    <!--@Table ic_category_config-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="pid" jdbcType="BIGINT" property="pid" />
    <result column="biz_id" jdbcType="BIGINT" property="bizId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="sort" jdbcType="BIGINT" property="sort" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, pid, biz_id, title, `level`, sort, is_delete, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from ic_category_config
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from ic_category_config
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.stb.xiheo2o.center.dao.entity.CategoryConfig" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into ic_category_config (pid, biz_id, title, 
      `level`, sort, is_delete, 
      create_time, update_time)
    values (#{pid,jdbcType=BIGINT}, #{bizId,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, 
      #{level,jdbcType=INTEGER}, #{sort,jdbcType=BIGINT}, #{isDelete,jdbcType=TINYINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.stb.xiheo2o.center.dao.entity.CategoryConfig" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into ic_category_config
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pid != null">
        pid,
      </if>
      <if test="bizId != null">
        biz_id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="level != null">
        `level`,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pid != null">
        #{pid,jdbcType=BIGINT},
      </if>
      <if test="bizId != null">
        #{bizId,jdbcType=BIGINT},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        #{level,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=BIGINT},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.stb.xiheo2o.center.dao.entity.CategoryConfig">
    <!--@mbg.generated-->
    update ic_category_config
    <set>
      <if test="pid != null">
        pid = #{pid,jdbcType=BIGINT},
      </if>
      <if test="bizId != null">
        biz_id = #{bizId,jdbcType=BIGINT},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        `level` = #{level,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=BIGINT},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.stb.xiheo2o.center.dao.entity.CategoryConfig">
    <!--@mbg.generated-->
    update ic_category_config
    set pid = #{pid,jdbcType=BIGINT},
      biz_id = #{bizId,jdbcType=BIGINT},
      title = #{title,jdbcType=VARCHAR},
      `level` = #{level,jdbcType=INTEGER},
      sort = #{sort,jdbcType=BIGINT},
      is_delete = #{isDelete,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>